.main-layout {
    width: 60em;
    margin: auto;   
}

.image-field {
    display: inline-block;
    margin: 2em 1em 2em 1em;
    text-align: center;
}

#previous-page {
    display: block;
    margin: 1em;
    padding-top: 1em;
}