body {
    margin: 0px;
}

header {
    width: 60em;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 1em;
}

#header-logo * {
    display: inline-block;
    color: darkblue;    
    vertical-align: middle;
}

#header-logo h1 {
    font-size: 1.5em;
}

#header-logo a {
    text-decoration: none;
}

#header-social {
    float: right;
    padding-top: 2em;
}

#header-social a{
    padding-right: 1em;    
}

nav {
    display: block;
    margin-top: 1.5em;
    //background-color: #384958;
    background-color: darkcyan;
    border-radius: 30%;
  font-family: Helvetica, 'Trebuchet MS', Tahoma, sans-serif;
  font-size: 85%;
  line-height: 1;
  color: #414141;
}

#content-first {
    background-color: lightblue;
    padding: 1em;
}

.main-layout {
    width: 60em;
    margin: auto;    
}

#short-menu {
    width: 16em;
    display: inline-block;
    background-color: darkcyan;
    border-radius: 10%;
    padding: 0.5em;
      font-family: Helvetica, 'Trebuchet MS', Tahoma, sans-serif;
  font-size: 100%;
  color: #414141;
}

#short-menu a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#short-menu h3 {
    border-bottom: 0.1em dashed white;
    padding-bottom: 0.8em;
}

#short-menu a:last-of-type h3{
    border: none;
}

#short-menu a:hover {
    color: lightgrey;
}

#slider {
    display: inline-block;
    width: 38em;
    margin-left: 2em;
}

#intro {
    background-color: lightgray;
    border-radius: 20%;
    margin-top: 2em;
    padding: 2em;
    color: black;
}

#intro * {
    
}

#content-second a {
    text-decoration-line: none;
    font-weight: bold;
}

#content-second a:hover{
    text-decoration: underline;
}

#projects-links {
    background-color: white;
    height: 17em;
    text-align: center;
    margin-top: 1.5em;
}

#projects-links img {
    display: inline-block;
    vertical-align: middle;
    padding: 1.2em 5em 1.5em 0em;   
}

footer {
    height: 22em;    
    background-color: darkcyan;    
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: lightgrey;
    text-decoration: underline;
}

#footer-area {
    width: 60em;
    color: lightgrey;
    margin: auto;    
    padding-top: 1em;
}

#footer-data {
    padding-bottom: 1em;
    border-bottom: 0.2em dashed white;
}

.footer-column {
    width: 19.5em;     
    display: inline-block;
}

#footer-links {
    padding-top: 1em;       
    text-align: center;
}

#footer-links p {
    display: inline-block;
    font-weight: bold;
}

#footer-copyright {
    padding-top: 1em;
    text-align: center;
}



